<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="businessObjects">
			<sectionGroup name="crystalReports">
				<section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ASSConnection" value="Data source=192.168.1.102\SQLSERVER2016;Initial catalog=ASS;User Id=sa;Password=sa@1;Connect Timeout=525600;Max Pool Size=5000"/>
		<add key="SIMConnection" value="Data Source=192.168.1.102\SQLSERVER2016;Initial Catalog=SIMV6;User ID=sa;Password=sa@1;Connect Timeout=525600;Max Pool Size=50000" />
		<add key="SIMCBSEConnection" value="Data Source=192.168.1.102\SQLSERVER2016;Initial Catalog=SIMCBSE;User ID=sa;Password=sa@1;Connect Timeout=525600;Max Pool Size=50000" />
		<add key="SIMSMSConnection" value="Data Source=192.168.1.102\SQLSERVER2016;Initial Catalog=sim_sms;User ID=sa;Password=sa@1;Connect Timeout=525600;Max Pool Size=50000" />
		<add key="SIMAPPConnection" value="Data source=192.168.1.102\SQLSERVER2016;Initial catalog=SIMDB;User Id=sa;Password=sa@1;Connect Timeout=525600;Max Pool Size=5000"/>
		<add key="ReportPrinter" value="hp LaserJet 1010 Series" />
		<add key="IsLocal" value="False" />
		<add key="FeesPrinter" value="EPSON TM-U220 Receipt" />
		<add key="JuneFeesPrinter" value="HP LaserJet 1020" />
		<add key="CrystalImageCleaner-AutoStart" value="true" />
		<add key="CrystalImageCleaner-Sleep" value="60000" />
		<add key="CrystalImageCleaner-Age" value="120000" />

		<!-- for SMS APT-->
		<add key="sms_username" value="ahsspdy"/>
		<add key="sms_password" value="amalsms1"/>
		<add key="sms_senderid" value="AHSSpy"/>
		 <add key="securitykey" value="M7QDZXGKW6VTFXW2RH"/>
	</appSettings>
	<connectionStrings>
<add name="SIMCBSEConnectionString" connectionString="Data Source=192.168.1.102\SQLSERVER2016;Initial Catalog=SIMCBSE;User ID=sa;Password=sa@1;Max Pool Size=6000;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
		<add name="SIMCBSEV1ConnectionString" connectionString="Data Source=192.168.1.102\SQLSERVER2016;Initial Catalog=SIMCBSE;User ID=sa;Password=sa@1;Max Pool Size=6000;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
		<add name="SIMCBSEV4ConnectionString" connectionString="Data Source=192.168.1.102\SQLSERVER2016;Initial Catalog=SIMCBSE;User ID=sa;Password=sa@1;Max Pool Size=6000;Connect Timeout=6000;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<identity impersonate="false"/>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<httpRuntime executionTimeout="999999" maxRequestLength="200480" appRequestQueueLimit="100" />
		<sessionState  mode="InProc" stateNetworkTimeout="10" sqlCommandTimeout="600" cookieName="ASP.NET_SessionId" timeout="53200" regenerateExpiredSessionId="False" />
		<!--<sessionState mode="SQLServer" sqlConnectionString="data source=sys055;user id=sa;password=pixel;application name=SIMCBSESOURCE" cookieless="false" timeout="20"/>-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="office, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Vbe.Interop, Version=12.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" timeout="1800"/>
		</authentication>
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace. -->
		<customErrors mode="Off"/>
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
		</pages>
		<httpHandlers>
			<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</httpHandlers>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		 <security>
		  <requestFiltering>
			<requestLimits maxAllowedContentLength="2147483647" maxQueryString="3000000" />
		  </requestFiltering>
		</security>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add name="PNG Images" path="*.png" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" preCondition="integratedMode"/>
			<add name="Stylesheets" path="*.css" verb="*" type="System.Web.StaticFileHandler" resourceType="Unspecified" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="50000000"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<businessObjects>
		<crystalReports>
			<rptBuildProvider>
				<add embedRptInResource="true"/>
			</rptBuildProvider>
		</crystalReports>
	</businessObjects>
</configuration>
